html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color:  #212121;

  

}
body{
    background-image: url(desktop.jpg);
   
    height: 100%;
  
}

.display{
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    display: flex;
    /* background-color: azure; */
   justify-content: center;
    /* align-items: end; */
    
    
  
    
}
.pname p{
    margin-top: -30px;
    text-align: center;
    font-size: 50px;
    text-shadow:1px 2px  #646ae2;
    color: rgb(221, 62, 23);
    margin-left: 30px;
}
.player{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}
.p1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    aspect-ratio: 1/1;
    background-color: aqua;
    margin-bottom: 7%;
    border-radius: 100%;
    
    
}
input::placeholder{
    color: red;
    font-weight: 1000;
    text-shadow: 1px 1px black;
}

.p1 input{
    height: 95%;
    
    font-weight: 800;
    color: red;
    width: 95%;
    border-radius: 100%;
    background-color:#496285;
    text-align: center;
    font-size: 100%;
    border: 5px;
    border-color: aqua;
    cursor: pointer;
    caret-color: transparent;
    
    
    
}
.logo{
    
    font-size: 400%;
    text-shadow:3px 3.3px  #646ae2;
    color: rgb(221, 62, 23);
    font-weight: 1000;
    text-align: left;
    margin-left: 10px;
    
}

.box8Container{
    aspect-ratio: 1/1;
    height: 85%;
   
    padding: 0px;
    /* margin-top: 1%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(131, 116, 199, 0.703);
    border-radius: 5%;
    border: 6px solid black;
 
    
    
    
    
}
@keyframes div{
    0%{
        width:0 rem;
        height:0 rem;
    }
    100%{
        width:35 rem;
        height:35 rem;
    }
}
.box8{
    
    aspect-ratio: 1/1;
    width: 90%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: center;
    
    
    
}
.div{
    
    height: var(--size);
    width: var(--size);
    
    
    background-color: black;
    /* border: seagreen solid 1px; */
    
}

.winning_Anim{
    animation: winning_Anim 0.5s  ;
    animation-delay: 0.5s;
}

@keyframes winning_Anim{
    0%{
        scale: 1;
    }
    50%{
        
        scale: 0.5;
    }
    
    100%{
        scale: 1;
        
        
    }
}



:root{
    --size:17%;
}

.nameholder{
    width: 100%;
    
    height: 20%;
}



@keyframes toss{
    0%{
        transform: scaleY(0);
        
    }
    25%{

        transform: scaleY(1);
    }
    50%{
        visibility: hidden;
        transform: scaleY(0);
    }
    75%{
        visibility: hidden;
        transform: scaleY(0);
    }
    100%{
        visibility: hidden;
        transform: scaleY(0);

    }
}

.toss{
    animation: toss 0.7s  linear  ;
    animation-iteration-count: 3;
    
}
.toss2{
    animation: toss 0.7s  linear reverse ;
    animation-iteration-count: 3;
    
}
.coinInvisible{
    animation: 0.3s coinInvisible forwards linear;
   
}
@keyframes coinInvisible{
    0%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}
.gameXO{
    animation: gameXO 1.2s forwards;
}
@keyframes gameXO{
    0%{
        scale: 1;
    }
    50%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
.score_container2 {
    height: 80px;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
}

.plr1name, .plr2name {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100%;
    width: 35%;
    background-color: black;
    border: 5px solid aqua;
    box-sizing: border-box;
    color: red;
    
    text-wrap: nowrap;
    
}
.p{
    margin: 100px;
    font-size: 150%;
    
}
.ps{
    color: aqua;
}




.plr1scr, .plr2scr,.drwCon {
    height: 100%;
    width: 15%;
    background-color: black;
 
    border: 5px solid aqua;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-size: 300%;
   
}
.drwCon{
    
    position: relative;
    
}

.drt{
    margin: -2%;

}
.draw_text{
   
    background-color: black;
    height: 20%;
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    position: absolute;
    font-size: 25%;
    color: red;
    bottom: 0;
    
    
}
.coinmain{
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 1;
    

}
.score_container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Notif_Con{
    z-index: 100;
    height: 40%;
    aspect-ratio: 1.48/1;
    background-color: black;
    border: 5px solid aqua;
    position: absolute;
   visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 40%;
  margin: auto;
  
}
.vis{
    animation: pop 0.2s forwards linear;
    
}
@keyframes pop{
    0%{
        height: 0%;
        visibility: visible;
    }
    100%{
        height: 45%;
        visibility: visible;
    }
}
/* .box8Container{
    z-index: 5;
} */










html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.RoundEndContainer{
    height: 100%;
    width: 100%;
    background-color: transparent;
   
    display: flex;
    justify-content: center;
    position: relative;
    
}

.btns{
    height: 12%;
    width: 80%;
   
    position: absolute;
    
    display: flex;
    justify-content: space-between;
   
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 10%;
    
 
}
.conRoundout{
    height: 100%;
    width: 100%;
 

}
.winnerHint{
    height: 20%;
    width: 70%;
    
    position: absolute;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
    text-wrap: nowrap;
    display: flex;
    border: 5px solid aqua;
    color: red;

}
.winnerName{
    height: 100%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 1000;

}
.winnerName{
    font-size: 120%;
    font-weight: 2000;
    /* text-shadow: 2px 2px black; */
    
}
.btn{
    height: 100%;
    width: 30%;
    background-color: aqua;
    border-radius: 10px;
    
    font-weight: 1000;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    

    
}
.btnWord{
    display: flex;
    align-items: center;
}
.btn:hover{
    background-color: white;
}
.rnded{
    height: 20%;
    width: 80%;
   
    color: white;
    /* margin-top: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#R_end{
    font-size: 200%;
}
#rtrn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#ROUNDWINNER{
    display: flex;
    justify-content: center;
}

.trackercon{
    height: 50px;
    width: 640px;
   
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}
#back,#forward{
    border: 5px solid black;
    box-sizing: border-box;
    width: 10%;
}